
body {
	background: url("images/team_mystic_3.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
	/*background-size:100%;*/
	/*text-transform: uppercase, underline;*/
	/*font-weight: bold;*/
}

.questions, #result {
	color:#CCCCCC;
}